<ion-header>
    <ion-toolbar>
      <ion-title>Pessoa</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <ion-item>
    <ion-label position="floating">Digite um nome</ion-label>
    <ion-input [(ngModel)]="_obj.name" ></ion-input>
    <ion-button slot="end" (click)="filterByName()" color="warning" >
      <ion-icon name="search-outline"></ion-icon> Pesquisar
    </ion-button>
  </ion-item> -->
  <ion-content fullscreen>
    <ion-button color="success" (click)="novo()" >
        <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    
    <ion-list>
      
      
  
      <ion-list-header>
        Lista de usuários cadastrados
      </ion-list-header>
  
      <ion-item *ngFor="let pessoa of pessoas">
        <ion-label>
          <ion-text color="success">
            <h2>{{pessoa.nome}}</h2>
          </ion-text>          
          <p>{{pessoa.perfil}}</p>
        </ion-label>
        <ion-button slot="end" (click)="mostrarCadastro(pessoa.id)">
            <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
  
    </ion-list>
  
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Procurando mais dados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  
  </ion-content>